
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
}


.navbar ul {
    margin: 10px 0;
    padding: 0;    
}

.navbar ul li {
    list-style:none;
    display: inline-block;    
}

.navbar ul li a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 800;
    color: maroon;
    padding: 0 10px;     
}

.navbar ul li a:hover {
    font-size: 21px;
    
}

.search form{
    display: flex;
    margin: 10px 10px;
    padding: 5px;
}

.search-input {
    border: 0;
    width: 0;
    transition: width 0.1s ease-in;
}

.search-input-active {
    width: 150px;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    cursor: pointer;
}