

body {
  font-family: 'Cormorant', serif;
  color: yellow;
  background-color: black;
  background-image: url("../src/blog_images/phil-hearing-KH9_FVZmmb4-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
   
}


.App {
  width: 100%;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 10px;
  
  opacity: 0.8;
}